body {
  background-color: #D1F5FF;
  font-family: 'Helvetica';
}

header {
  max-width: 100%;
  position: relative;
  border-bottom-style: solid;
  border-width: thin;
}

main {
  margin: 5%;
}

section {
  background-color: #FFFCF7;
  border-style: solid;
  border-width: thin;
  max-width: 100%;
  margin: 2%;
  border-radius: 2%;
}

img {
  max-width: 100%;
  object-fit: scale-down;
  margin: 2%;
}

p {
  text-indent: 1.5em;
  margin: 2%;
}

h3 {
  display: inline;
}

time {
  margin-left: 2%;
}
