nav {
  display: inline-block;
}

nav > ul {
  display: none;
  padding: 0;
  list-style: none;
  clear: both;
  border-style: solid;
  border-width: thin;
  position: absolute;
  right: 0;
  top: 20%;
}

nav > ul > li {
  list-style-type: none;
  border-bottom-style: solid;
  border-width: thin;
  background-color: #FFFCF7;
}

.header-title {
  text-align: center;
  max-width: 100%;
}

.icon-menu {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 32px;
  margin-right: 15px;
}

.template {
  display: none;
}

.projectImage {
  max-width: 100px;
  object-fit: scale-down;
  margin-left: 2%;
}

.projectUrl {
  display: block;
  margin-left: 2%;

}

.description {
  border-style: none;
}

.main-section {
  display:none;
}
