nav:hover ul {
  display: block;
}

a, a:link, a:active {
  text-decoration: none;
  color: #2274a5;
}

a:hover, a:focus {
  color: #1e3c53;
}

a:visited {
  color: #2274a5;
}

h1, h3 {
  font-family: 'Roboto', sans-serif;
}

.active a{
  color: black;
}

@media only screen and (min-width: 600px) {
  nav > ul {
    display: block;
    border: none;
    position: static;
    margin-top: 0;
    margin-bottom: 0;
  }

  nav > ul > li {
    display: inline-block;
    border: none;
    padding: 20px;
    background-color: inherit;
  }

  .icon-menu {
    display: none;
  }

  .active a{
    color: #1e3c53;
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: thin;
    border-color: black;
  }

  .active a:visited {
    color: #1e3c53;
  }

  .me-photo {
    float:left;
  }
}
