body {
  background-color: #E4F0D0;
}

header {
  max-width: 100%;
  position: relative;
}

main {
  margin: 5%;
}

section {
  background-color: #FFFCF7;
  border-style: solid;
  border-width: thin;
  max-width: 100%;
  margin: 1%;
}

nav {
  display: inline-block;
}

nav > ul {
  display: none;
  padding: 0;
  list-style: none;
  clear: both;
  border-style: solid;
  border-width: thin;
  position: absolute;
  right: 0;
  top: 20%;
}

nav:hover ul {
  display: block;
}

nav > ul > li {
  list-style-type: none;
  border-bottom-style: solid;
  border-width: thin;
  background-color: #FFFCF7;
}

img {
  max-width: 100%;
  margin: 20px auto;
}

p {
  text-indent: 1.5em;
  margin: 1%;
}

a, a:link, a:active {
  text-decoration: none;
  color: #738290;
}

a:hover, a:focus {
  color: #29506D;
}

a:visited {
  color: #A1B5D8;
}

h3 {
  display: inline;
}

.header-title {
  text-align: center;
  max-width: 100%;
}

.icon-menu {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 32px;
  margin-right: 15px;
}

.template {
  display: none;
}

.projectImage {
  max-width: 100px;
  object-fit: scale-down;
}

.projectUrl {
  display: block;
}

.description {
  border-style: none;
}

@media only screen and (min-width: 600px) {
  nav > ul {
    display: block;
    border: none;
    position: static;
  }

  nav > ul > li {
    display: inline-block;
    border: none;
    padding: 20px;
    background-color: inherit;
  }

  .icon-menu {
    display: none;
  }
}
